@{ ViewData["Title"] = Model.Title + " - Industry"; }

@model Commsights.MVC.Models.ReportMonthlyViewModel
@Html.HiddenFor(Model => Model.ID)
@Html.HiddenFor(Model => Model.Title)
<div>
    | <a href="/ReportMonthly/MonthlyReport?ID=@Model.ID" class="text-success" title="Report">Report</a> |
    <a href="/ReportMonthly/MonthlyIndustry?ID=@Model.ID" class="text-success" title="Industtry">Industry</a> |
    <a href="/ReportMonthly/MonthlyCompanyCount?ID=@Model.ID" class="text-success" title="Company">Company Count</a> |
    <a href="/ReportMonthly/MonthlyFeatureIndustry?ID=@Model.ID" class="text-success" title="Feature-Mention">Feature-Mention</a> |
    <a href="/ReportMonthly/MonthlySentimentIndustry?ID=@Model.ID" class="text-success" title="Sentiment">Sentiment</a> |
    <a href="/ReportMonthly/MonthlyChannel?ID=@Model.ID" class="text-success" title="Channel">Channel</a> |
    <a href="/ReportMonthly/MonthlyTierCommsights?ID=@Model.ID" class="text-success" title="Media Tiers">Media Tiers</a> |
    <a href="/ReportMonthly/MonthlyIndustry?ID=@Model.ID" class="text-success" title="Industtry">Category</a> |
    <a href="/ReportMonthly/MonthlyTrendLine?ID=@Model.ID" class="text-success" title="Trendline">Trendline</a> |
    <a href="/ReportMonthly/MonthlyIndustry?ID=@Model.ID" class="text-success" title="Industtry">Campaign</a> |
    <a href="/ReportMonthly/MonthlyIndustry?ID=@Model.ID" class="text-success" title="Industtry">Key Stories</a> |
    <a href="/ReportMonthly/MonthlyCompanyAndYear?ID=@Model.ID" class="text-success" title="MonthlyCompanyAndYear">Brand Growth</a> |
    <a href="/ReportMonthly/MonthlySegmentProduct?ID=@Model.ID" class="text-success" title="Product segment">Product segment</a> |
    <a href="/ReportMonthly/MonthlyTierCommsightsAndCompanyName?ID=@Model.ID" class="text-success" title="Top titles">Top titles</a> |
    <a href="/ReportMonthly/MonthlyIndustry?ID=@Model.ID" class="text-success" title="Industtry">Scorecard</a> |
    <a href="/ReportMonthly/MonthlyData?ID=@Model.ID" class="text-success" title="Data">Data</a> |
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@Model.Title - Industry</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div id="DataIndustry" class='col-sm-12'></div>
                    </div>
                    <div class="col-md-8">
                    </div>
                </div>
                <br />
                <table style="width:100%;">
                    <tr>
                        <td valign="top">
                            <div>
                                <div class="row">
                                    <div class='col-sm-2'>
                                        <button type="button" class="btn btn-success" onclick="exportJPG('chartPieIndustry')"><span class="fas fa-file-image"></span></button>
                                    </div>
                                </div>
                                <div>
                                    @(Html.Kendo().Chart(Model.ListReportMonthlyIndustryDataTransfer)
        .Name("chartPieIndustry")
       .Theme("Material")
.Title(t=>t.Text("Industry").Color("#0000ff").Font("20px sans-serif"))
  .HtmlAttributes(new { style = "min-height:400px; font-size:12px;" })
   .Legend(legend => legend
       .Position(ChartLegendPosition.Bottom)
   )
   .ChartArea(chartArea => chartArea
      .Background("#ffffff")
  )
        .Series(series => {
            series.Pie(t => t.ProductPercent, t => t.SegmentProduct)
            .Labels(labels => labels
                .Template("#=category #: #=value#%")
                .Background("#ffffff")
                .Visible(true)
            );
        })
        .Tooltip(tooltip => tooltip
        .Visible(true)
                .Template("#=category#: #=value#%")
        )
    )
                                </div>
                            </div>
                        </td>
                        <td valign="top">
                            <div>
                                <div class="row">
                                    <div class='col-sm-2'>
                                        <button type="button" class="btn btn-success" onclick="exportJPG('chartDonutIndustry')"><span class="fas fa-file-image"></span></button>
                                    </div>
                                </div>
                                <div>
                                    @(Html.Kendo().Chart(Model.ListReportMonthlyIndustryDataTransfer)
        .Name("chartDonutIndustry")
       .Theme("Material")
.Title(t=>t.Text("Industry").Color("#0000ff").Font("20px sans-serif"))
  .HtmlAttributes(new { style = "min-height:400px; font-size:12px;" })
   .Legend(legend => legend
       .Position(ChartLegendPosition.Bottom)
   )
   .ChartArea(chartArea => chartArea
      .Background("#ffffff")
  )
        .Series(series => {
            series.Donut(t => t.ProductPercent, t => t.SegmentProduct)
           .Labels(labels => labels
            .Visible(true)
            .Position(ChartPieLabelsPosition.OutsideEnd)
            .Template("#=category# - #=value#%")
            .Background("#ffffff")
        );
        })
        .Tooltip(tooltip => tooltip
        .Visible(true)
                .Template("#=category#: #=value#%")
        )
    )
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                </table>        
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        onGetIndustryByIDToListToJSON();
    });
    function filterIndustry(e) {
        var IDValue = $("#ID").val();
        return { ID: IDValue };
    }
    function onGetIndustryByIDToListToJSON() {
        BeginRequestHandler();
        $("#DataIndustry").html('');
        var IDValue = $("#ID").val();
         $.ajax({
            type: 'GET',
            url: "@Url.Action("GetIndustryByIDToListToJSON", "ReportMonthly")",
            data: {
                ID: IDValue,
            },
             success: function (list) {
                 var html = '<table class="border01" id="Data01" cellspacing="4" style="background-color:#ffffff; width: 100%;">';
                html = html + '<thead>';
                html = html + '<tr>';
                 html = html + "<th class='text-center' style='width: 60%;'><a style='cursor:pointer;'>Industry</a></th>";
                 html = html + "<th class='text-center' style='width: 20%;'><a style='cursor:pointer;'>Count</a></th>";
                 html = html + "<th class='text-center' style='width: 20%;'><a style='cursor:pointer;'>Percent (%)</a></th>";
                html = html + '</tr>';
                html = html + '</thead>';
                html = html + '<tbody>';
                var no = 0;
                 for (var index in list) {
                     $(list[index]).each(function (iRec, item) {
                        no = no + 1;
                        if (no % 2 == 0) {
                            html = html + '<tr style="background-color:#ffffff;">';
                        }
                        else {
                            html = html + '<tr style="background-color:#f1f1f1;">';
                        }
                         html = html + '<td class="text-left" style="font-weight: bold;">' + item.SegmentProduct + '</td>';
                         html = html + '<td class="text-right" style="font-weight: bold;">' + item.ProductCount + '</td>';
                         html = html + '<td class="text-right" style="font-weight: bold;">' + item.ProductPercent + '</td>';
                         html = html + '</tr>';
                    });
                }
                html = html + '</tbody>';
                html = html + '</table>';
                html = $.parseHTML(html);
                 $("#DataIndustry").append(html);
            }
         }).done(() => {
             EndRequestHandler();
        });
    }
    function exportJPG(control) {
        var Title = $('#Title').val();
        var id = "#" + control;
        var chart = $(id).getKendoChart();
        chart.exportImage().done(function (data) {
            kendo.saveAs({
                dataURI: data,
                fileName: Title + ".jpg",
                proxyURL: "@Url.Action("Export_Save", "ReportMonthly")"
            });
        });
    }
</script>