@{ ViewData["Title"] = "Report - Daily - Step 03: Complete"; }

@model Commsights.Data.DataTransferObject.ProductSearchDataTransfer

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Report - Daily - Step 03: Complete</h3>
            </div>
            <div class="card-body">
                <form asp-action="Save03" asp-controller="Report">
                    @Html.HiddenFor(Model => Model.ID)
                    @Html.HiddenFor(Model => Model.CompanyID)
                    @Html.HiddenFor(Model => Model.DateCreated)
                    @Html.HiddenFor(Model => Model.DateSearch)
                    @Html.HiddenFor(Model => Model.DatePublishBegin)
                    @Html.HiddenFor(Model => Model.DatePublishEnd)
                    <div class="row">
                        <div class='col-md-7'>
                        </div>
                        <div class='col-md-2'>
                            <a asp-route-ID="@Model.ID" asp-action="Daily02" asp-controller="Report" title="Files" style="width:100%;" class="btn btn-info">
                                <span class="fas fa-arrow-left"></span> Step 02
                            </a>
                        </div>
                        <div class='col-md-1'>
                            <button style="width:100%;" type="submit" title="Complete" class="btn btn-primary">
                                <span class="fas fa-save"></span>
                            </button>
                        </div>
                        @*<div class='col-md-1'>
                                <a style="width:100%;" title="Send mail" class="btn btn-success">
                                    <span class="fas fa-envelope-open-text"></span>
                                </a>
                            </div>*@
                        <div class='col-md-1'>
                            <a onclick="javascript:OpenWindowByURL('/Report/DailyPrintPreview/@Model.ID');" style="width:100%; color:white;" title="Print" class="btn btn-success">
                                <span class="fas fa-print"></span>
                            </a>
                        </div>
                        <div class='col-md-1'>
                            <a asp-route-ID="@Model.ID" asp-action="ExportExcelReportDailyActive" asp-controller="Report" title="Excel" style="width:100%;" class="btn btn-success">
                                <span class="fas fa-file-excel"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class='form-group'>
                                <label for='DateSearch'>Date</label>
                                @(Html.TextBoxFor(Model => Model.DateSearch, "{0:dd/MM/yyyy}", new { placeholder = "Date",  @class = "form-control", @readonly = "readonly" }))
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class='form-group'>
                                <label for='CompanyName'>Customer</label>
                                @(Html.TextBoxFor(Model => Model.CompanyName, new { placeholder = "Customer", @class = "form-control", @readonly = "readonly" }))
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class='form-group'>
                                <label for='Title'>Title</label>
                                @(Html.TextBoxFor(Model => Model.Title, new { placeholder = "Title", @class = "form-control" }))
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class='form-group'>
                                <div style="margin-top:33px;"></div>
                                @(Html.CheckBoxFor(Model => Model.Active.Value))
                                <label for='Active'>Complete</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class='form-group'>
                                <label for='CompanyCount'>Article company</label>
                                @(Html.TextBoxFor(Model => Model.CompanyCount, new { placeholder = "Article company", @class = "form-control", @readonly = "readonly" }))
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class='form-group'>
                                <label for='IndustryCount'>Article industry</label>
                                @(Html.TextBoxFor(Model => Model.IndustryCount, new { placeholder = "Article industry", @class = "form-control", @readonly = "readonly" }))
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class='form-group'>
                                <label for='ProductCount'>Article product</label>
                                @(Html.TextBoxFor(Model => Model.ProductCount, new { placeholder = "Article product", @class = "form-control", @readonly = "readonly" }))
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class='form-group'>
                                <label for='CompetitorCount'>Article competitor</label>
                                @(Html.TextBoxFor(Model => Model.CompetitorCount, new { placeholder = "Article competitor", @class = "form-control", @readonly = "readonly" }))
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-12" style="min-width:1200px; width:100%;">
                            @Html.TextAreaFor(Model => Model.Summary)

                            <script src="/ckeditor/ckeditor.js"></script>
                            <script src="/ckeditor/adapters/jquery.js"></script>
                            <script>
                                CKEDITOR.replace("Summary", {
                                    on: {
                                        'instanceReady': function (evt) {
                                            evt.editor.resize("100%", "600");
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Article</h3>
            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<Commsights.Data.DataTransferObject.ProductSearchPropertyDataTransfer>()
.Name("ProductSearchPropertyDataTransfer")
.Columns(columns =>
{
    columns.Bound(t => t.DatePublish).Title("Publish").Width(200).HtmlAttributes(new { @class = "text-right" });
    columns.Bound(t => t.ArticleTypeName).Title("Category").Width(200);
    columns.Bound(t => t.IndustryName).Title("Industry").Width(200);
    columns.Bound(t => t.CompanyName).Title("Company").Width(200);
    columns.Bound(t => t.ProductName).Title("Product").Width(200);
    columns.Bound(t => t.AssessName).Title("Sentiment").Width(200);
    columns.Template(@"<a target='_blank' href='#=URLCode#' style='color: blue; cursor: pointer;'>#=Title#</a>").Title("Headline (Vie)").Width(1000);
    columns.Template(@"<a target='_blank' href='#=URLCode#' style='color: blue; cursor: pointer;'>#=TitleEnglish#</a>").Title("Headline (Eng)").Width(1000);
    columns.Bound(t => t.Media).Title("Media").Width(200);
    columns.Bound(t => t.MediaType).Title("Media type").Width(200);
    columns.Bound(t => t.AdvertisementValue).Title("Ad value").Width(100).HtmlAttributes(new { @class = "text-right" });
    columns.Bound(t => t.Summary).Title("Summary").Width(200);
})
.ToolBar(toolBar => toolBar.Search())
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Sortable()
.Scrollable()
.Reorderable(r => r.Columns(true))
.Resizable(r => r.Columns(true))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10))
.Excel(excel => excel
.FileName("Article.xlsx")
.Filterable(true)
.AllPages(true)

)
.Pdf(pdf => pdf
.AllPages()
.AvoidLinks()
.PaperSize("A4")
.Margin("2cm", "1cm", "1cm", "1cm")
.Landscape()
.RepeatHeaders()
.FileName("Article.pdf")
)
.HtmlAttributes(new { @class = "KendoGrid" })
.Search(search => { search.Field(f => f.IndustryName); search.Field(f => f.CompanyName); search.Field(f => f.ProductName); search.Field(f => f.Media); search.Field(f => f.MediaType); search.Field(f => f.ArticleTypeName); search.Field(f => f.AssessName); search.Field(f => f.Title); search.Field(f => f.URLCode); })
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(1000)
.Model(model =>
{
    model.Id(t => t.ID);

})
.Read(t => t.Action("ReportDaily02ByProductSearchIDAndActiveToList", "Report").Data("filterProductSearchPropertyDataTransfer"))

.Update(t => t.Action("UpdateReportDataTransfer", "ProductSearchProperty"))))
            </div>
        </div>
    </div>
</div>
@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)
<script>
    function filterProductSearchPropertyDataTransfer(e) {
        var productSearchIDValue = $("#ID").val();
        return { productSearchID: productSearchIDValue };
    }
</script>
