@{ Layout = "~/Views/Shared/_LayoutWindowPrintPreview.cshtml"; 

ViewData["Title"] = "" + Model.CompanyName + " - " + Model.Title; 

}


@model Commsights.Data.DataTransferObject.ProductSearchDataTransfer
@Html.HiddenFor(Model => Model.ID)
<div style="width:1400px; min-height:960px; padding:40px; margin:auto; background-color:#ffffff; background-repeat:repeat-x; background-image:url('/images/Background_Logo_Opacity10_1400_1000.png');">   
    <table>
        <tr>
            <td valign="top" style="width:40%; text-align:center;">
                <a title="In trang" href='javascript:window.print();'><img src="@Commsights.Data.Helpers.AppGlobal.DomainSub/images/logo01.png" style="width:80%;" alt="In trang" title="In trang" /></a>
                <br />
                <b style="font-size:30px;">@Commsights.Data.Helpers.AppGlobal.CompanyTitleEnglish</b>
            </td>
            <td valign="top" style="width:60%;">
                <div style="text-align: right; font-size:14px;">
                    Tax code: @Commsights.Data.Helpers.AppGlobal.TaxCode
                    <br />
                    Phone: <a target="_blank" href="@Commsights.Data.Helpers.AppGlobal.PhoneReportURLFUll" title="@Commsights.Data.Helpers.AppGlobal.PhoneReport">@Commsights.Data.Helpers.AppGlobal.PhoneDisplay</a>
                    <br />
                    Email: <a target="_blank" href="@Commsights.Data.Helpers.AppGlobal.EmailReportURLFUll" title="@Commsights.Data.Helpers.AppGlobal.EmailReport">@Commsights.Data.Helpers.AppGlobal.EmailReport</a>
                    <br />
                    Facebook: <a target="_blank" href="@Commsights.Data.Helpers.AppGlobal.FacebookURLFUll" title="@Commsights.Data.Helpers.AppGlobal.Facebook">@Commsights.Data.Helpers.AppGlobal.Facebook</a>
                    <br />
                    Address: <a target="_blank" href="@Commsights.Data.Helpers.AppGlobal.GoogleMapURLFUll" title="@Commsights.Data.Helpers.AppGlobal.AddressReport">@Commsights.Data.Helpers.AppGlobal.AddressReport</a>
                    <br />
                    Preview: @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")
                    <br />
                    Layout: Landscape
                </div>
            </td>
        </tr>
    </table>
    <div style="text-align:center; border-top-color:black;border-top-style:solid;border-top-width:1px; padding:10px; line-height:30px;position: relative;">
        <div>
            <b style="font-size:40px; text-transform:uppercase; color:#c00000;">@Model.CompanyName - @Model.Title</b>
        </div>
    </div>
    <div>        
        <b style="color: #ed7d31;">I - HIGHLIGHT NEWS OF THE DAY</b>
        @Html.Raw(Model.Summary)
        <br />
        <b style="color: #ed7d31;">II - INFORMATION</b>
        <br />
        <br />
        <div id="DataMain"></div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("ReportDaily02ByProductSearchIDAndActiveToListJSON", "Report")",
            data: {
                productSearchID: $('#ID').val(),
            },
            success: function (ListProductSearchPropertyDataTransfer) {
                var html = '<table class="border" id="Data" style="font-size:12px;">';
                html = html + '<thead>';
                html = html + '<tr>';
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>No</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Publish</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Category</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Industry</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Company</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Product</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Sentiment</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Headline (Vie)</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Headline (Eng)</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Media</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Media type</a></th>";
                html = html + "<th style='text-align:center; background-color:#c00000;'><a style='cursor:pointer; color:#ffffff;'>Ad value</a></th>";
                //html = html + "<th style='text-align:center;'><a style='cursor:pointer;'>Summary</a></th>";
                html = html + '</tr>';
                html = html + '</thead>';
                html = html + '<tbody>';
                var STT = 0;
                for (var index in ListProductSearchPropertyDataTransfer) {
                    $(ListProductSearchPropertyDataTransfer[index]).each(function (iRec, item) {
                        STT = STT + 1;
                        if (STT % 2 == 0) {
                            html = html + '<tr style="background-color:#ffffff;">';
                        }
                        else {
                            html = html + '<tr style="background-color:#f1f1f1;">';
                        }
                        html = html + '<td style="text-align: center;">' + STT + '</td>';
                        html = html + '<td style="text-align: center;">' + item.DatePublishString + '</td>';
                        html = html + '<td style="text-align: center;">' + item.ArticleTypeName + '</td>';
                        html = html + '<td style="text-align: center;">' + item.IndustryName + '</td>';
                        html = html + '<td style="text-align: center;">' + item.CompanyName + '</td>';
                        html = html + '<td style="text-align: center;">' + item.ProductName + '</td>';
                        html = html + '<td style="text-align: center;">' + item.AssessName + '</td>';
                        html = html + '<td style="text-align: left;"><a target="_blank" style="color:blue; cursor:pointer;" href="' + item.URLCode + '" title="' + item.URLCode + '">' + item.Title + '</a></td>';
                        html = html + '<td style="text-align: left;"><a target="_blank" style="color:blue; cursor:pointer;" href="' + item.URLCode + '" title="' + item.URLCode + '">' + item.TitleEnglish + '</a></td>';
                        html = html + '<td style="text-align: center;">' + item.Media + '</td>';
                        html = html + '<td style="text-align: center;">' + item.MediaType + '</td>';
                        html = html + '<td style="text-align: center;">' + item.AdvertisementValue + '</td>';
                        //html = html + '<td style="text-align: center;">' + item.Summary + '</td>';
                    });
                }
                html = html + '</tbody>';
                html = html + '</table>';
                html = $.parseHTML(html);
                $("#DataMain").append(html);
            }
        }).done(() => {
        });
    });
</script>
