@{ Layout = "~/Views/Shared/_LayoutWindow100.cshtml"; ViewData["Title"] = Model.Title; }

@model Commsights.Data.DataTransferObject.ProductDataTransfer


<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title m-0"><b>@Model.Title</b></h5>
    </div>
    <div class="card-body">
        <form asp-action="UpdateItem" asp-controller="Report">
            @Html.HiddenFor(Model => Model.ID)
            @Html.HiddenFor(Model => Model.Title)
            @Html.HiddenFor(Model => Model.ProductID)
            @Html.HiddenFor(Model => Model.IndustryID)
            <div class="row">
                <div class='col-md-11'>
                </div>
                <div class='col-md-1'>
                    <button style="width:100%;" type="submit" title="Save" class="btn btn-primary">
                        <span class="fas fa-save"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class='form-group'>
                        <label for='TitleEnglish'>Headline (Eng)</label>
                        @(Html.TextBoxFor(Model => Model.TitleEnglish, new { placeholder = "Headline (Eng)", @class = "form-control" }))
                    </div>
                    <div class='form-group'>
                        <label for='Description'>Summary</label>
                        @(Html.TextBoxFor(Model => Model.Description, new { placeholder = "Summary", @class = "form-control" }))
                    </div>
                    <div class='form-group'>
                        <label for='DescriptionEnglish'>Summary (Eng)</label>
                        @(Html.TextBoxFor(Model => Model.DescriptionEnglish, new { placeholder = "Summary (Eng)", @class = "form-control" }))
                    </div>
                    <div class='form-group'>
                        <label for='AdvertisementValue'>Ad Value</label>
                        @(Html.TextBoxFor(Model => Model.AdvertisementValue, new { placeholder = "Ad Value", @class = "form-control text-right" }))
                    </div>
                    <div class='form-group'>
                        @(Html.CheckBoxFor(Model => Model.IsSummary.Value))
                        <label for='IsSummary'>Brief</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='form-group'>
                        <label for='CompanyID'>Company</label>
                        @(Html.Kendo().DropDownListFor(Model => Model.CompanyID)
                                   .DataValueField("ID")
                                   .DataTextField("Account")
                                   .HtmlAttributes(new {@class = "form-control" })
                                    .Filter(FilterType.StartsWith)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetByIndustryIDToList", "Membership").Data("filterCompanyID")))
                                    )
                    </div>
                    <div class='form-group'>
                        <label for='SegmentID'>Segment</label>
                        @(Html.Kendo().DropDownListFor(Model => Model.SegmentID)
                                   .DataValueField("ID")
                                   .DataTextField("CodeName")
                                   .HtmlAttributes(new {@class = "form-control" })
                                    .Filter(FilterType.StartsWith)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetByParentIDToList", "Config").Data("filterSegmentID")))
                                    )
                    </div>
                    <div class='form-group'>
                        <label for='ArticleTypeID'>Category</label>
                        @(Html.Kendo().DropDownListFor(Model => Model.ArticleTypeID)
                                   .DataValueField("ID")
                                   .DataTextField("CodeName")
                                   .HtmlAttributes(new {@class = "form-control" })
                                    .Filter(FilterType.StartsWith)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetArticleTypeToList", "Config")))
                                    )
                    </div>
                    <div class='form-group'>
                        <label for='AssessID'>Assess</label>
                        @(Html.Kendo().DropDownListFor(Model => Model.AssessID)
                                   .DataValueField("ID")
                                   .DataTextField("CodeName")
                                   .HtmlAttributes(new {@class = "form-control" })
                                    .Filter(FilterType.StartsWith)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetAssessTypeToList", "Config")))
                                    )
                    </div>
                    <div class='form-group'>
                        <label for='MembershipPermissionProductID'>Product</label>
                        @(Html.Kendo().DropDownListFor(Model => Model.MembershipPermissionProductID)
                                   .DataValueField("ID")
                                   .DataTextField("CodeName")
                                   .HtmlAttributes(new {@class = "form-control" })
                                    .Filter(FilterType.StartsWith)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetByMembershipIDAndProductToList", "MembershipPermission").Data("filterMembershipPermissionProductID")))
                                    )
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function filterCompanyID(e) {
        var industryIDValue = $("#IndustryID").val();       
        return { industryID: industryIDValue };
    }  
    function filterSegmentID(e) {
        var parentIDValue = $("#IndustryID").val();
        return { parentID: parentIDValue };
    }  
    function filterMembershipPermissionProductID(e) {
        var membershipIDValue = $("#CompanyID").data("kendoDropDownList").value();
        return { membershipID: membershipIDValue };
    }  
</script>
