@{ Layout = "~/Views/Shared/_LayoutWindow.cshtml"; ViewData["Title"] = @Model.Product.Title + " (" + @Model.Product.DatePublish.ToString("MM/dd/yyyy") + ")"; }

@model Commsights.MVC.Models.ProductViewContentViewModel


<div class="card card-primary card-outline">
    <div class="card-body">
        <div class="text-center" style="margin:auto; margin:0px;">
            @if (Model.Product.IsVideo == true)
            {
                <h4>@Model.Product.Title (@Model.Product.DatePublish.ToString("MM/dd/yyyy"))</h4>
                if(Model.Product.Image.Contains(@".mp3")==true)
                {
                    <audio width='100%' height='100px' controls>
                        <source src="@Model.Product.Image" type='audio/mpeg'>
                    </audio>
                }
                else
                {
                    <video width="100%" controls class="ViewContentVideo">
                       <source src="@Model.Product.Image" type="video/mp4">
                    </video>
                }                
            }
            else
            {
                string parentIcon = "";
                if (Model.Parent != null)
                {
                    parentIcon = Model.Parent.Icon;
                }
            if (Model.Parent != null)
            {
                    <img src="@Model.Parent.Icon" class="img-thumbnail" />
                }
                foreach (Commsights.Data.Models.ProductProperty item in Model.ListProductProperty)
                {
                    if (item.Note != parentIcon)
                    {
                        <img src="@item.Note" class="img-thumbnail" />
                        <br />
                    }
                }
            }
        </div>
    </div>
</div>
