@{ ViewData["Title"] = "Setup - Company replace"; }

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Setup - Company replace</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class='form-group'>
                            <label for='Company'>Company source</label>
                            @(Html.Kendo().DropDownList()
                                    .Name("CompanySource")
                                   .DataValueField("ID")
                                   .DataTextField("TransferName")
                                   .HtmlAttributes(new {@class = "form-control" })
                                   .Events(e => e.DataBound("onCompanySourceDataBound").Change("onCompanySourceChange"))
                                    .Filter(FilterType.Contains)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetAllCompanyToList", "Membership")))
                                    )
                        </div>
                        <div class='form-group'>
                            <label for='Account'>Account</label>
                            <input type="text" id="CompanySourceAccount" disabled class="form-control" />
                        </div>
                        <div class='form-group'>
                            <label for='FullName'>Full name</label>
                            <input type="text" id="CompanySourceFullName" disabled class="form-control" />
                        </div>
                        <div class='form-group'>
                            <a id="CompanySourceNote" href="#" target="_blank" title="Detail" style="width:100%; cursor:pointer; color:#ffffff;" class="btn btn-success">
                                <span class="fas fa-external-link-alt"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class='form-group'>
                            <label for='Customer'>Company replace</label>
                            @(Html.Kendo().DropDownList()
                                    .Name("CompanyReplace")
                                   .DataValueField("ID")
                                   .DataTextField("TransferName")
                                   .HtmlAttributes(new {@class = "form-control" })
                                   .Events(e => e.DataBound("onCompanyReplaceDataBound").Change("onCompanyReplaceChange"))
                                    .Filter(FilterType.Contains)
                                   .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetAllCompanyToList", "Membership")))
                                    )
                        </div>
                        <div class='form-group'>
                            <label for='Account'>Account</label>
                            <input type="text" id="CompanyReplaceAccount" disabled class="form-control" />
                        </div>
                        <div class='form-group'>
                            <label for='FullName'>Full name</label>
                            <input type="text" id="CompanyReplaceFullName" disabled class="form-control" />
                        </div>
                        <div class='form-group'>
                            <a id="CompanyReplaceNote" href="#" target="_blank" title="Detail" style="width:100%; cursor:pointer; color:#ffffff;" class="btn btn-success">
                                <span class="fas fa-external-link-alt"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class='form-group'>
                            <label for='Replace'>Replace</label>
                            <button type="button" class="btn btn-primary" onclick="onReplace()">
                                <span class="fas fa-tools"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)
<script>
    function onReplace() {
        BeginRequestHandler();
        var companyIDSourceValue = $("#CompanySource").data("kendoDropDownList").value();
        var companyIDReplaceValue = $("#CompanyReplace").data("kendoDropDownList").value();
        $.ajax(
            {
                type: "POST",
                datatype: "JSON",
                url: '@Url.Action("ReplaceCompanyIDSourceToCompanyIDReplace", "Membership")',
                data: { companyIDSource: companyIDSourceValue, companyIDReplace: companyIDReplaceValue },
                success: function (result) {
                    EndRequestHandler();
                    var messageType = result.split('-')[0];
                    var note = result.split('-')[1];
                    var notification = $("#Notification").data("kendoNotification");
                    notification.show(note, messageType);
                },
                error: function (jqXHR, exception) { },
                complete: function () { },
            });
    }
    function onCompanySourceChange() {
        var companyIDSourceValue = $("#CompanySource").data("kendoDropDownList").value();
         $.ajax(
            {
                type: "POST",
                datatype: "JSON",
                url: '@Url.Action("GetByID", "Membership")',
                 data: { ID: companyIDSourceValue },
                 success: function (result) {
                     $("#CompanySourceAccount").val(result["Account"]);
                     $("#CompanySourceFullName").val(result["FullName"]);
                     $("#CompanySourceNote").attr("href", result["Note"]);
                },
                error: function (jqXHR, exception) { }
            });
    }
    function onCompanySourceDataBound() {
        var company = $("#CompanySource").data("kendoDropDownList");
        var companyLength = company.dataSource.data().length;
        if (companyLength > 0) {
            company.select(0);
            company.trigger("change");
        }
    }
    function onCompanyReplaceChange() {
        var companyIDReplaceValue = $("#CompanyReplace").data("kendoDropDownList").value();
         $.ajax(
            {
                type: "POST",
                datatype: "JSON",
                url: '@Url.Action("GetByID", "Membership")',
                 data: { ID: companyIDReplaceValue },
                 success: function (result) {
                    $("#CompanyReplaceAccount").val(result["Account"]);
                    $("#CompanyReplaceFullName").val(result["FullName"]);
                    $("#CompanyReplaceNote").attr("href", result["Note"]);
                },
                error: function (jqXHR, exception) { }
            });
    }
    function onCompanyReplaceDataBound() {
        var company = $("#CompanyReplace").data("kendoDropDownList");
        var companyLength = company.dataSource.data().length;
        if (companyLength > 0) {
            company.select(0);
            company.trigger("change");
        }
    }
</script>
